# Define os donos das aprovações de código

# O Fabiano é dono de TUDO na raiz e subpastas (incluindo docker-compose, gitignore, etc.)
* @fabiano-pinto

# As equipes continuam donas de suas respectivas pastas, mas você também está nelas
/sysbovi-pwa/       @frontend-sysbovi @fabiano-pinto
/sysbovi-api/       @backend-sysbovi @fabiano-pinto
/sysbovi-admin-web/ @frontend-sysbovi @fabiano-pinto

